
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TAB切换</title>
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			[v-cloak] {
				display: none;
			}
			.back{
				background: #ccc;
				color: red;
			}
			.box{
				border: 1px solid #ccc;
			}
			.top{
				width: 100%;
				line-height: 50px;
				background: #eee;
				overflow: hidden;
			}
			.top_{
				float: left;
				padding: 0 20px;
			}
			.btm{
				width: 100%;
				height: 200px;
			}
		</style>
	</head>

	<body>
		<div id="box"  v-cloak="" style="padding: 0 300px;margin-top: 50px;">
			<c-lee :textarr="arr"></c-lee>
		</div>	
		<template id="tab_box">
			<div>
				<div class="box">
					<div class="top">
						<div v-for="(i,$index) in arr" class="top_" :class="index==$index?'back':''" @click="index=$index">
							{{i.title}}
						</div>
					</div>
					<div class="btm" v-for="(i,$index) in arr" v-show="index==$index">
						{{i.text}}
					</div>
				</div>
			</div>
		</template>
	</body>
<script src="javascripts/vue.js"></script>
<script>
	Vue.component('cLee', {
		template: '#tab_box',
		props:['textarr'],
		data(){
			return {
				arr:this.textarr,
				index:0
			}
		}
	})
	new Vue({
		el: "#box",
		data:{
			arr:[
				{title:'one',text:'1'},
				{title:'two',text:'2'},
				{title:'three',text:'3'},
				{title:'four',text:'4'},
			],
			arr2:[
				{title:'one',text:'1'},
				{title:'two',text:'2'}
			]
		}
	})
</script>
</html>